@import '../../variables.scss';

.appy-- {

    &place {

        &-item {

            background-color: $white-color;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            margin-top: 55px;

            &-map {
                height: 290px;
                background-color: $grey-text;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;

            }

            &-info {
                padding: 10px 10px 15px 10px;
                text-align-last: left;



                &-placename {
                    font-size: $text-info-title;
                    font-weight: normal;
                }

                &-address {
                    font-size: $text-info-address;
                    margin-bottom: 0px;

                    &-open {
                        color: $text-open;
                    }

                    &-close {
                        color: $text-close;
                    }
                }

                &-schedule {
                    display: flex;
                    flex-direction: row;
                    font-size: $text-menu;
                    margin-top: 15px;

                    &-days {
                        color: $grey;
                    }

                    &-hours {
                        display: flex;
                        justify-content: flex-end;
                        text-align: right;
                        margin-right: 15px;
                        color: $grey-text;
                    }

                    &-container {
                        width: 100%;
                        font-size: $text-info-shedule;
                        margin-bottom: 4px;
                    }
                }

                &-rating {

                    &-container {
                        width: 100%;
                    }

                    &-text {
                        display: flex;
                        align-items: center;
                    }
                }


            }
        }

        &-list {

            &-item {
                margin-top: 5px;
                margin-right: 0px;
                margin-left: 0px;
                border-radius: 5px;
                position: relative;
                border: 1px solid $light-grey;

                &-img {
                    width: 100%;
                    border-radius: 5px 0px 0px 5px;
                    background-position: center;
                    background-size: cover;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;

                    &-col {
                        // padding-right: 75px;
                    }
                }

                &-recommended {
                    color: white;
                    position: absolute;
                    display: flex;
                    top: 5px;
                    left: 5px;
                    background-color: $recommended-color;
                    padding: 3px;
                    border-radius: 3px;
                    font-size: 10px;
                }

                &-rating {
                    background-color: $primary-color;
                    border-radius: 5px;
                    display: flex;
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    align-items: baseline;
                    justify-content: space-around;
                    padding: 3px 5px 2px 5px;

                    &>img {
                        width: 10px;
                        height: 10px;

                    }

                    &-num {
                        color: $white-color;
                        font-size: ($text-info-shedule + 0.5);
                        padding-right: 4px;
                    }
                }

                &-info {
                    padding: 5px 0px 0px 15px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    text-align: left;
                    margin-left: 0px;

                    &-title {
                        font-size: $text-icons;
                        margin-bottom: 0px;
                        font-weight: normal;
                    }

                    &-description {
                        font-size: $text-info-address;
                        font-weight: 100;
                        margin-bottom: 5px;
                        height: 20px;
                        line-height: 14px;
                        margin-bottom: 15px;
                        padding-right: 15px;
                    }
                }

                &-schedule-price {
                    flex-wrap: nowrap;
                    height: 20px;
                    margin-left: 0px;
                    margin-top: 10px;

                    &-schedule-info {
                        padding: 0px;
                        margin-top: -1px;
                        font-size: $text-bars;
                        font-weight: normal;
                        margin-left: 10px;
                    }

                    &-price-info {
                        display: flex;
                        justify-content: flex-start;
                        margin: 5px 0px;
                        margin-top: 5px;
                        margin-left: 0px;
                        margin-top: -1px;
                        align-items: baseline;
                        margin-left: 7px;
                        padding: 0px;
                        font-size: $text-menu;
                    }

                    &-open-icon {
                        display: flex;
                        justify-content: center;
                        color: $secundary-color;
                        font-size: $icon-button;
                        margin-top: -4px;
                    }

                    &-price-icon {
                        height: 16px;
                        margin-top: -4px;
                        font-style: $text-bars;

                        &>img {
                            width: 18px;
                            margin-top: 9px;
                        }

                        &>span {
                            font-size: 3.5vw;
                            padding-top: 16px;
                        }
                    }
                }

                &-position {
                    width: 100%;
                    justify-content: center;
                    margin-right: 0px;
                    align-items: center;
                    display: flex;
                    justify-content: flex-end;
                    padding: 0px;

                    &-num {
                        position: absolute;
                        padding-left: 2px;
                        font-weight: normal;
                        padding-top: 5px;
                        width: 55px;
                        text-align: center;
                        font-size: 40px;
                        color: $primary-color;
                        display: flex;
                        height: 55px;
                        align-items: center;
                        margin-top: 0px;
                        margin-left: -27px;
                        justify-content: center;
                        margin-top: 18px;
                        margin-left: 0px;
                        margin-right: 2px;
                    }
                }

                &-time {

                    padding: 15px 20px 5px 0px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    text-align: left;
                    margin-left: 0px;

                    &-info {
                        display: flex;
                        justify-content: center;
                        align-items: center;


                    }

                    &-title {
                        font-size: 18px;
                        margin-bottom: 0px;
                        font-weight: normal;
                        margin-left: 10px;
                    }

                    &-num {
                        position: absolute;
                        padding-left: 2px;
                        font-weight: normal;
                        padding-top: 5px;
                        width: 55px;
                        text-align: center;
                        font-size: 40px;
                        color: $primary-color;
                        display: flex;
                        height: 55px;
                        align-items: center;
                        margin-top: 0px;
                        margin-left: -27px;
                        justify-content: center;
                        margin-top: 24px;
                        margin-left: 0px;
                    }

                    &-hr {
                        border-top: 1px dotted;
                        margin: 3px 0px 0px 0px;
                        border-color: $light-grey;
                    }
                }
            }
        }
    }
}