@import 'variables';

// Navbar ------------------- //

.appy-- {

    &navbar {
        display: flex;
        padding-left: 18px;
        background-color: $white-color;
        height: 60px;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
        -webkit-box-shadow: $-webkit-box-shadow;
        -moz-box-shadow: $-moz-box-shadow;
        box-shadow: $box-shadow;
        z-index: 2000;
        position: fixed;
        transition: all .3s;

        &-help {
            justify-content: flex-start;

            &-beer {
                display: flex;
                justify-content: flex-end;
                margin-top: 18px;
                padding: 0 4vw 0 5px;

                &-img {
                    width: 40px;
                }
                
                &-viewagain {
                    width: 36px;
                    border: 1px solid #538787;
                    padding: 5px;
                    border-radius: 5px;
                }

                &-cuestion {
                    font-weight: bold;
                    padding: 3px 11px 3px 12px;
                    border: 1px solid #538787;
                    border-radius: 5px;
                    margin-left: 5px;
                    background: #538787;
                    color: white;
                }
            }
        }

        &-brand {
            color: $primary-color;
            transition: all .3s;
            margin-right: 10px;
        }

        &-menu {
            background-color: $primary-color;
            height: calc(100vh - 60px);
            width: calc(100vw - 40px);
            position: fixed;
            z-index: 1500;
            top: 60px;
            right: 100vw;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding: 50px 30px 20px 30px;



            &-show {
                right: 40px;
                transition: all .3s ease-in-out;
            }

            &-hide {
                right: 100vw;
                transition: all .3s ease-in-out;
            }

            &>ul {
                list-style: none;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-top: 30px;
                padding-left: 0px;
            }

            & li {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                &>span {
                    margin-left: 20px;
                    border-bottom: 1px solid #ffffff2e;
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    padding: 15px 0px;
                    font-weight: 300;

                    &>a {
                        color: $white-color;
                    }

                    &.last {
                        border-bottom: 0px;

                        &.beta {
                            font-size: 12px;
                            opacity: .5;
                        }
                    }
                }
            }

            &-back {
                background-color: #000000;
                height: calc(100vh - 60px);
                position: fixed;
                z-index: 1400;
                top: 60px;
                width: 100vw;
                right: 100vw;
                opacity: 0;

                &-show {
                    right: 0px;
                    transition: all .2s ease-in;
                    opacity: .8;
                }

                &-hide {
                    right: 100vw;
                    transition: all .2s ease-out;
                    opacity: 0;
                }
            }
        }


    }

    &search {

        &-form {
            position: relative;
            padding-right: 5px;
        }

        &-input {
            padding-right: 40px;
            padding-left: 10px;
            width: 85vw;
            border-radius: 4px;
            border: 1px solid $light-grey;
            height: 36px;
            color: $grey-text;
            font-weight: 300;
            transition: all .3s;

            &::placeholder {
                color: $grey-text
            }

            &-help {
                width: 55vw;
            }
        }

        &-icon-location {
            color: $grey;
            opacity: .5;
            border: 0px;
            background-color: transparent;
            font-size: 20px;
            position: absolute;
            right: 10px;
            top: 2px;
        }
    }


    // Footer Navbar

    &footer-navbar {
        height: 65px;
        width: 100vw;
        background-color: $white-color;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: 0px;
        color: $grey;
        -webkit-box-shadow: $-webkit-box-shadow-up;
        -moz-box-shadow: $-moz-box-shadow-up;
        box-shadow: $box-shadow-up;
        z-index: 1000;

        &-item {
            display: flex;
            align-items: center;

            &-text {
                padding-left: 10px;
                font-weight: 300;

                &:first-letter {
                    text-transform: capitalize
                }
            }
        }
    }
}