@import '../../variables';

// Tours ------------------- //

// InfoBar

.appy-- {

    &tours {

        &-barinfo {
            display: flex;
            margin-top: 15px;
            justify-content: space-between;
            margin-bottom: 10px;
            // padding: 0 0 0 2px;
            margin-left: 5px;


            &-title {
                display: flex;
                align-items: center;
                color: $primary-color;

                &-icon {
                    font-size: $icons;
                    // margin-top: -2px;
                    border: 1px solid;
                    border-radius: 4px;
                    padding: 6px;
                    height: 31px;
                    width: 31px !important;
                    margin-top: 0px;
                    /* margin-left: 5px; */
                    color: white;
                    background-color: $primary-color;

                    & .recommended {
                        background-color: $recommended-color !important;
                    }
                }

                &-title {
                    margin-bottom: 0px;
                    padding-left: 10px;
                    font-size: 22px;
                    font-weight: 300;
                }

                &-loading {
                    background-color: #ddd;
                    border-radius: 10px;
                    margin-top: 0px;
                    padding: 6px;
                    width: 35vw;
                    margin-bottom: 0px;
                    height: 20px;
                    margin-left: 10px;
                }
            }

            &-info {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: $text-icons;
                color: $primary-color;
                margin-right: 0px;

                &-num {
                    padding: 1px 1px 0 0px;
                    border-radius: 4px;
                    margin-right: 5px;
                    border: 1px solid $primary-color;
                    height: 31px;
                    width: 31px;
                }

                &-map {
                    padding: 1px 10px;
                    border-radius: 4px;
                    border: 1px solid $primary-color;
                }
            }
        }


        // Tour Items

        &-list {
            display: inline-flex;
            flex-wrap: nowrap;
            margin-bottom: 20px;
        }

        &-item {
            width: calc(47.5vw);
            min-height: 100px;
            background-color: $white-color;
            margin-top: 7px;
            border-radius: 4px;
            text-align: left;

            &-first {
                margin-right: 4px;
            }

            &-image {
                min-height: 70px;
                height: calc(47.7vh - 225px);
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                padding: 4px 0 0 4px;
                position: relative;
            }

            &-rating {
                display: flex;
                background-color: #ffffffdb;
                justify-content: space-between;
                align-items: baseline;
                width: 90px;
                padding: 5px;
                position: absolute;
                bottom: 4px;
                right: 4px;
                border-radius: 4px;

                &>img {
                    width: 15px;
                }
            }


            // Distance Bar

            &-distancebar {
                display: flex;
                justify-content: space-between;
                background-color: $primary-color;
                height: 20px;
                font-size: $text-bars;

                &-distante-tour {
                    display: flex;
                    align-items: center;
                }

                &-distante-nearby {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }

                &-icon {
                    color: $secundary-color;
                    padding-left: 7px;
                }

                &-text {
                    color: $white-color;
                    padding-left: 7px;
                    padding-right: 7px;

                    &-loading {
                        background-color: $loading-color;
                        border-radius: 10px;
                        margin: 8px;
                        padding: 6px;
                        width: 17vw;
                    }
                }

                &-recommended {
                    background-color: $recommended-color;
                }

                &-loading {
                    background-color: $white-color;
                    border-right: 1px solid $loading-color;
                    border-left: 1px solid $loading-color;
                    border-bottom: 1px solid $loading-color;
                    height: 17px;
                }
            }

            &-info {
                padding: 10px 7px;
                border: 1px solid #ECECEC;
                border-top: 0px;
                border-radius: 0pc 0pc 4px 4px;

                &-title {
                    font-size: $text-title;
                    margin-bottom: 3px;

                    &-loading {
                        background-color: $loading-color;
                        ;
                        border-radius: 10px;
                        margin-top: 3px;
                        padding: 6px;
                        width: 60%;
                        margin-bottom: 8px;
                    }
                }

                &-description {
                    font-size: $text-description;
                    color: $grey;
                    margin-bottom: 8px;
                    height: 4vh;
                    line-height: 12px;

                    &-loading {
                        background-color: $loading-color;
                        border-radius: 10px;
                        margin-top: 2px;
                        padding: 4px;
                        width: 100%;
                    }
                }

                &-creator {
                    display: flex;
                    align-items: center;

                    &-icon {
                        background-color: $primary-color;
                        border-radius: 20px;
                        height: 15px;
                        width: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        color: $white-color;
                        font-size: $text-creator;

                        &-loading {
                            background-color: $loading-color;
                        }
                    }

                    &-text {
                        font-size: $text-description;
                        color: $grey-text;
                        padding-left: 7px;

                        &-loading {
                            background-color: $loading-color;
                            ;
                            border-radius: 10px;
                            margin-top: 2px;
                            padding: 4px;
                            width: 50%;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }

        &-detail {
            background-color: $white-color;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            margin: 50px -5px 0 -5px;
            border-bottom: 1px solid $light-grey;
            border-top: 1px solid $light-grey;

            &-info {
                padding: 15px 10px 15px 10px;
                background-color: white;
                border-radius: 0px 0px 4px 4px;
                text-align: left;

                &-placename {
                    font-size: $text-info-title;
                    font-weight: normal;
                    margin-bottom: 12px;
                }

                &-description {
                    font-size: $text-info-address;
                    margin-bottom: 0px;
                    margin-bottom: 15px;
                    margin-top: 4px;
                }
            }

            &-map {
                height: 330px;
                background-color: $grey-text;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;

            }

            &-distancebar {
                display: flex;
                justify-content: space-between;
                background-color: $primary-color;
                height: 20px;
                font-size: $text-menu;
            }

            &-rating {
                display: flex;
                background-color: #ffffffdb;
                justify-content: flex-end;
                align-items: center;
                padding: 5px;
                bottom: 4px;
                right: 4px;
                border-radius: 4px;
                margin-top: -4px;

                &>img {
                    width: 20px;
                }

                &-text {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                }

                &-num {
                    font-size: 20px;
                    margin-right: 5px;
                    display: flex;
                    align-items: center;
                    color: #C8102E;
                    font-weight: bold;
                    padding-top: 5px;
                }
            }

            &-share {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &>img {
                    width: 20px;
                }

                &-buttons {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }

                &-text {
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                }
            }
        }
    }
}