@import '../../variables.scss';

.appy-- {

    &row {
        display: flex;
        flex-wrap: wrap;
    }

    &col-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    &col-2 {
        flex: 0 0 14.666667%;
        max-width: 14.666667%;
    }

    &col-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    &col-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    &col-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    &col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    &col-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    &col-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    &col-9 {
        flex: 0 0 75%;
        max-width: 75%;

        &-place-list-item {
            padding: 0 5px 0 15px;
        }
    }

    &col-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    &col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    &second-col div.appy--place-item-info-schedule-hours {
        margin-right: 5px;
    }

    &ul {
        list-style: none;
        padding: 0px;
        margin-bottom: 0px;
    }

    &button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px 0px 0 0px;
        border-radius: 4px;
        margin-left: 5px;
        border: 1px solid;
        height: 31px;
        min-width: 31px;

        &-info {
            padding: 1px 8px 0 9px !important;
        }

        &-icon {
            font-size: $icon-button;
        }

        &-text {
            margin-bottom: 0px;
            font-size: $text-button;
            margin-left: 5px;

            &:first-letter {
                text-transform: capitalize
            }
        }

        &-num {
            margin-bottom: 0px;
            font-size: 16px;
            font-weight: bold;
        }

        &-brand {
            width: 10px;

            &-whatsapp {
                width: 19px;
            }

            &-twitter {
                width: 18px;
            }
        }
    }

    &image {

        &-tours {

            &-recommended {
                background-color: $recommended-color;
                border-radius: 20px;
                height: 20px;
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                color: $white-color;
                font-size: 10px;

                &-loading {
                    background-color: $white-color;
                }
            }
        }

        &-placeid {
            min-height: 130px;
            height: calc(47.7vh - 240px);
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 7px 0 0 7px;
            position: relative;
            transition: all .3s;

            &-loading {
                min-height: 0px;
            }

            &-rating {
                display: flex;
                background-color: #ffffffdb;
                justify-content: space-between;
                align-items: center;
                width: 135px;
                padding: 2px 5px;
                position: absolute;
                bottom: 4px;
                right: 4px;
                border-radius: 4px;

                &>img {
                    width: 20px;
                }

                &-num {
                    font-size: $text-rating;
                    margin-right: 5px;
                    display: flex;
                    align-items: center;
                    color: $primary-color;
                    font-weight: bold;
                }

                &-loading {
                    background-color: $white-color;
                    padding: 6px;
                    width: 17vw;
                    margin: 0px 6px 6px 0;
                    border-radius: 10px;
                }
            }

            &-plus {
                // max-height: 130px;
                display: flex;
                align-items: flex-start;
                height: inherit;
                color: #ffffff;
                font-size: 20px;
                transition: all .3s;
                border: 1px solid white;
                width: 22px;
                height: 22px;
                border-radius: 27px;
                transition: all .3s;
                position: absolute;
                top: 9px;
                right: 5px;

                &>svg {
                    padding: 1px;
                }

                &-click {
                    border: transparent;
                    transition: all .3s;
                }

                &-icon {
                    border: 2px solid $primary-color;
                    border-radius: 20px;
                    background-color: $primary-color;
                    transition: all .3s;

                    &-minus {
                        transition: all .3s;
                        color: transparent;
                        background-color: transparent !important;
                        border: 5px solid transparent;
                        width: 30px;
                        border-radius: 27px;
                        transition: all .3s;
                    }
                }
            }

            &-zoom {
                min-height: 270px;
                transition: all .3s;
            }


            &-recommended {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: $recommended-color;
                border-radius: 4px;
                font-size: $text-bars;
                padding: 2px 5px;
                width: 120px;
                color: $white-color;
            }

            &-image-zoom {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: $primary-color;
                border-radius: 4px;
                font-size: $text-bars;
                padding: 2px 25px 2px 5px;
                color: $white-color;
                position: absolute;
                right: 4px;
                top: 9px;
                opacity: 0;
                transition: all .4s;

                &-delay {
                    transition: all .4s ease-in;
                    right: 10px;
                    opacity: 1;
                }

                &-minus {
                    transition: all .3s;
                    color: transparent;
                    background-color: transparent !important;
                    border-radius: 27px;
                    transition: all .3s;
                }
            }
        }

        &-loading {
            border-radius: 5px 5px 0 0;
            background-color: $loading-color;
            min-height: 10vh;
        }
    }

    &star-rating {
        display: flex;
        justify-content: flex-end;
        align-items: inherit;
        padding-right: 5px;

        &>img {
            padding-left: 3px;
        }
    }

    &browser-view {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }

    &price-item {

        &-active {
            color: $primary-color;
        }

        &-disabled {
            color: $primary-color;
            opacity: .2;
        }
    }
}

// Loading Gradiend Animation

.loading-- {

    &background {

        &-default {
            background-image: linear-gradient(90deg, $loading-color 0px, $shine-color 40px, $loading-color 80px);
            background-size: 600px;
            animation: shine-loading 1.4s infinite linear;
            border: none;

            &-touch {
                height: 270px;
                background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 220px, #ddd 280px) !important
            }

            &-large {
                background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 220px, #ddd 280px) !important;
            }

            &-delay1 {
                animation-delay: .1s;
            }

            &-delay2 {
                animation-delay: .2s;
            }

            &-delay3 {
                animation-delay: .3s !important;
            }

            &-delay4 {
                animation-delay: .4s;
            }

            &-delay5 {
                animation-delay: .5s;
            }

            &-delay6 {
                animation-delay: .6s;
            }

            &-delay7 {
                animation-delay: .7s;
            }
        }

    }
}

.schedule {
    margin-left: 0px;
    margin-top: 10px;
    height: 12px;
}

.star-loading {
    opacity: .3;
    width: 3vw;
}

.icon-map {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 50px;
}

.button-info {
    width: 60px;
}

.first-item-loading {
    margin-right: 10px;
}

// Helpers

.swiper-slide {
    transition-property: all !important;
}

.black-background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: .8;
    background-color: black;
    z-index: 3000;
    transition: all .5s;
}

.black-background-init {
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background-color: black;
    z-index: 3000;
    transition: all .5s;
    display: none;
}

.filter-item-focus {
    filter: brightness(1);
    transition: all .5s;
}

.filter-item-dark {
    filter: brightness(0.2);
    transition: all .5s;
}

.message-helper {
    position: absolute;
    z-index: 200;
    display: none;
    border: 1px solid white;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.message-helper-infobar-nav {
    display: none;
    z-index: 400;
    top: 121px;
    position: fixed;
    border: 1px solid white;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.message-helper-infobar-detail {
    display: none;
    z-index: 400;
    top: 121px;
    right: 5px;
    position: fixed;
    border: 1px solid white;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.message-helper-infobar-quick {
    display: none;
    z-index: 400;
    bottom: 55px;
    position: fixed;
    border: 1px solid white;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: calc(100% - 7px);
}

.message-helper-tour-detail {
    position: fixed;
    filter: invert(100%);
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 400;

}

.scroll-down {
    width: 80px;
}

.scroll-down-text {
    color: black;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}

#message-helper-home-drag {
    right: 7px;
}

.circle-drag {
    background-color: $recommended-color;
    padding: 0px;
    position: absolute;
    z-index: 243;
    border-radius: 100px;
    height: 80px;
    width: 80px;
    opacity: .8;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    // transform: scale(0.87);

}

.circle-drag-init {
    display: flex;
    transition: all .5s;
    transform: scale(0.87);
}

.no-click {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2000;
}

#appy--tours-item-first {
    z-index: 3 !important;
    background-color: #fff;
}

.scroll-icon {
    width: 30px;
    color: white;
    filter: invert(100%);
    margin-right: 10px;
    transition: all .2s;
}

.scroll-icon-right {
    width: 30px;
    color: white;
    filter: invert(100%);
    margin-left: 10px;
    transition: all .2s;
}


// Zoom Icon 

.svg-inline--fa.fa-w-14 {
    width: 0.975em;
}

// Slick

.slick-dots {
    bottom: 4px !important;

    & li {
        margin: -3px -2px !important;
    }
}

.slick-dots li.slick-active button:before {
    color: $primary-color !important;
}

.slick-dots li button:before {
    color: $primary-color !important;
}

// Maps

.gm-style-mtc {
    display: none;
}


.gm-style-pbc {
    display: none;
}

.gm-style-iw.gm-style-iw-c {
    padding: 20px !important;
}




//Spinner

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 652;
    position: absolute;
    /* top: 12%; */
    /* left: 76%; */
    /* margin: -25px 0 0 -25px; */
    width: 20px;
    height: 20px;

    & .path {
        stroke: $primary-color;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }

    & .recommended-path {
        stroke: $recommended-color;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }

}

//ANIMATIONS
//Slide In Bottom

.slide-in-bottom-anim {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-bottom-anim {
    -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-out-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-top-anim {
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-in-center-anim {
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-left-anim {
    -webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation-delay: .5s;
    transform: scale(0.87);
}

.heartbeat-anim {
    -webkit-animation: heartbeat .5s steps(1, end) both;
    animation: heartbeat .5s steps(1, end) both;
}

.heartbeat-inf-anim {
    -webkit-animation: heartbeat-inf .5s steps(1, end) both;
    animation: heartbeat-inf .5s steps(1, end) both;
}


// Keyframes

@keyframes shine-loading {
    0% {
        background-position: -100px
    }

    40%,
    100% {
        background-position: 200px
    }
}

@keyframes shine-loading-touch {
    0% {
        background-position: -100px
    }

    40%,
    100% {
        background-position: 400px
    }
}


/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation slide-out-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-bottom {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 0;
    }
}

@keyframes slide-out-bottom {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 0;
    }
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 1;
    }
}


@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}


/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .8;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .8;
    }
}

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: .8;
    }

    100% {
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
        opacity: 0;
    }
}

@keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: .8;
    }

    100% {
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
        opacity: 0;
    }
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}


/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat-inf {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat-inf {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}