@import '../../variables.scss';

.appy-- {

    &row {
        display: flex;
        flex-wrap: wrap;
    }

    &col-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    &col-2 {
        flex: 0 0 14.666667%;
        max-width: 14.666667%;
    }

    &col-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    &col-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    &col-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    &col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    &col-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    &col-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    &col-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    &col-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    &col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    &second-col div.appy--place-item-info-schedule-hours {
        margin-right: 5px;
    }

    &ul {
        list-style: none;
        padding: 0px;
        margin-bottom: 0px;
    }

    &button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px 0px 0 0px;
        border-radius: 4px;
        margin-left: 5px;
        border: 1px solid;
        height: 31px;
        min-width: 31px;

        &-info {
            padding: 1px 8px 0 9px !important;
        }

        &-icon {
            font-size: $icon-button;
        }

        &-text {
            margin-bottom: 0px;
            font-size: $text-button;
            margin-left: 5px;

            &:first-letter {
                text-transform: capitalize
            }
        }

        &-num {
            margin-bottom: 0px;
            font-size: 16px;
            font-weight: bold;
        }

        &-brand {
            width: 10px;

            &-whatsapp {
                width: 19px;
            }

            &-twitter {
                width: 18px;
            }
        }
    }

    &image {

        &-tours {

            &-recommended {
                background-color: $recommended-color;
                border-radius: 20px;
                height: 20px;
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                color: $white-color;
                font-size: 10px;

                &-loading {
                    background-color: $grey;
                }
            }
        }

        &-placeid {
            min-height: 130px;
            height: calc(47.7vh - 240px);
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 7px 0 0 7px;
            position: relative;
            transition: all .3s;

            &-loading {
                min-height: 0px;
            }

            &-rating {
                display: flex;
                background-color: #ffffffdb;
                justify-content: space-between;
                align-items: center;
                width: 135px;
                padding: 2px 5px;
                position: absolute;
                bottom: 4px;
                right: 4px;
                border-radius: 4px;

                &>img {
                    width: 20px;
                }

                &-num {
                    font-size: $text-rating;
                    margin-right: 5px;
                    display: flex;
                    align-items: center;
                    color: $primary-color;
                    font-weight: bold;
                }
            }

            &-plus {
                // max-height: 130px;
                display: flex;
                align-items: flex-start;
                height: inherit;
                color: #ffffff;
                font-size: 20px;
                transition: all .3s;
                border: 1px solid white;
                width: 22px;
                height: 22px;
                border-radius: 27px;
                transition: all .3s;
                position: absolute;
                top: 9px;
                right: 5px;

                &>svg {
                    padding: 1px;
                }

                &-click {
                    border: transparent;
                    transition: all .3s;
                }

                &-icon {
                    border: 2px solid $primary-color;
                    border-radius: 20px;
                    background-color: $primary-color;
                    transition: all .3s;

                    &-minus {
                        transition: all .3s;
                        color: transparent;
                        background-color: transparent !important;
                        border: 5px solid transparent;
                        width: 30px;
                        border-radius: 27px;
                        transition: all .3s;
                    }
                }
            }

            &-zoom {
                min-height: 270px;
                transition: all .3s;
            }


            &-recommended {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: $recommended-color;
                border-radius: 4px;
                font-size: $text-bars;
                padding: 2px 5px;
                width: 120px;
                color: $white-color;
            }

            &-image-zoom {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: $primary-color;
                border-radius: 4px;
                font-size: $text-bars;
                padding: 2px 25px 2px 5px;
                color: $white-color;
                position: absolute;
                right: 4px;
                top: 9px;
                opacity: 0;
                transition: all .4s;

                &-delay {
                    transition: all .4s ease-in;
                    right: 10px;
                    opacity: 1;
                }

                &-minus {
                    transition: all .3s;
                    color: transparent;
                    background-color: transparent !important;
                    border-radius: 27px;
                    transition: all .3s;
                }
            }
        }

        &-loading {
            border-radius: 5px 5px 0 0;
            background-color: $light-grey;
        }
    }

    &star-rating {
        display: flex;
        justify-content: flex-end;
        align-items: inherit;
        padding-right: 5px;

        &>img {
            padding-left: 3px;
        }
    }

    &browser-view {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }

    &price-item {

        &-active {
            color: $primary-color;
        }

        &-disabled {
            color: $primary-color;
            opacity: .2;
        }
    }
}

// Zoom Icon 

.svg-inline--fa.fa-w-14 {
    width: 0.975em;
}

// Slick

.slick-dots {
    bottom: 4px !important;

    & li {
        margin: -3px -2px !important;
    }
}

.slick-dots li.slick-active button:before {
    color: $primary-color !important;
}

.slick-dots li button:before {
    color: $primary-color !important;
}

// Maps

.gm-style-mtc {
    display: none;
}


.gm-style-pbc {
    display: none;
}




//Spinner

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 652;
    position: absolute;
    /* top: 12%; */
    /* left: 76%; */
    /* margin: -25px 0 0 -25px; */
    width: 20px;
    height: 20px;

    & .path {
        stroke: $primary-color;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }

    & .recommended-path {
        stroke: $recommended-color;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}