// Colors

$primary-color: #C8102E;
$secundary-color: #FFCB38;
$recommended-color: #298888;
$point-interest: #9208AC;
$grey: #707070;
$light-grey: #ECECEC;
$grey-text: #9E9E9E;
$white-color: #ffffff;
$text-open: green;
$text-close: red;
$mahou: #C8102E;
$estrella: #000000;

// Shadow
$-webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.16);
$-moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.16);
$box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.16);

$-webkit-box-shadow-up: 0px -1px 7px 0px rgba(0, 0, 0, 0.16);
$-moz-box-shadow-up: 0px -1px 7px 0px rgba(0, 0, 0, 0.16);
$box-shadow-up: 0px -1px 7px 0px rgba(0, 0, 0, 0.16);

// Font Size
$text-icons: 18px;
$icons: 18px;
$text-menu: 14px;
$text-bars: 12px;
$text-title: 12px;
$text-creator: 9px;
$text-description: 10px;
$text-rating: 20px;
$text-info-title: 22px;
$text-info-shedule: 3vw;
$text-info-address: 12px;
$text-button: 16px;
$icon-button: 14px;

// Colors

.appy-- {

    &primary-color {
        color: $primary-color;
    }

    &primary-bg {
        background-color: $primary-color;
    }
}

.recommended-color {
    color: $recommended-color !important;
}

.recommended {
    background-color: $recommended-color !important;
}

// Brand

.mahou {
    background-color: $mahou !important;
}

.estrella {
    background-color: $estrella !important;
}

// Button Colors

.recommended-btn {
    border-color: $recommended-color !important;
    color: $recommended-color !important;
}

.whatsapp-btn {
    border-color: #23D366 !important;
    color: #23D366 !important;
    padding: 0px !important;
}

.facebook-btn {
    border-color: #1A77F2 !important;
    color: #1A77F2 !important;
    padding: 0px !important;
}

.twitter-btn {
    border-color: #1C91DA !important;
    color: #1C91DA !important;
    padding: 0px !important;
}


.primary-btn {
    border-color: $primary-color;
}